PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=axtella_global_platform
CORS_ORIGIN=http://localhost:3001
DEFAULT_LANGUAGE=en
SUPPORTED_LANGUAGES=en,ar
SAUDI_ZATCA_ENABLED=true
ZATCA_ENVIRONMENT=sandbox
ZATCA_BASE_URL=https://gw-fatoora.zatca.gov.sa
ZATCA_PORTAL_URL=https://fatoora.zatca.gov.sa
ZATCA_TIMEOUT_MS=20000
ZATCA_CSID=
ZATCA_BINARY_SECURITY_TOKEN=
ZATCA_SECRET=
UPLOAD_DIR=uploads
